
<div class="container ">
    <div class="row">
        <div class="col-8 m-auto">
            <form method="post">
                <div class="card mt-5">
                    <div class="card-header">
                        Category
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="categoryName">Category name</label>
                            <input class="form-control" placeholder="Enter category name" type="text" name="Name" id="categoryName" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>